archive
reference
build
figs
*.so
*.jpg
*.c
*.pyc
result*
.*
*.pdf
*.pdf_t
*.aux
*.bbl
*.blg
*.fls
*.log
*.toc
*.html
safe
ui_*.py*
study_*
nohup.out
*~
*.ps
/eric.latex
/test
**/#*#
/like_gun/local.bib
